---
- name: install packages with pacman
  community.general.pacman:
    name: "{{ pacman_packages }}"
    state: present
  when: pacman_packages | length > 0
  become: yes

- name: install packages from the AUR
  aur:
    name: "{{ aur_packages }}"
    use: yay
  when: aur_packages | length > 0
  become_user: "{{ aur_builder_user_name }}"
