@import "catppuccin-macchiato"

* {
  selected-active-foreground:  @background;
  lightfg:                     @text;
  separatorcolor:              @surface1;
  urgent-foreground:           @red;
  alternate-urgent-background: @lightbg;
  lightbg:                     #1e203066;
  background-color:            transparent;
  border-color:                @peach;
  normal-background:           transparent;
  selected-urgent-background:  @red;
  alternate-active-background: @lightbg;
  spacing:                     2;
  alternate-normal-foreground: @foreground;
  urgent-background:           @background;
  selected-normal-foreground:  @crust;
  active-foreground:           @peach;
  background:                  @base;
  selected-active-background:  @peach;
  active-background:           @background;
  selected-normal-background:  @peach;
  alternate-normal-background: transparent;
  foreground:                  @text;
  selected-urgent-foreground:  @background;
  normal-foreground:           @foreground;
  alternate-urgent-foreground: @red;
  alternate-active-foreground: @peach;

}
element {
    padding:       8px 12px;
    cursor:        pointer;
    spacing:       8px;
    border:        0;
    border-radius: 8px;
    margin:        2px 0;
}
element normal.normal {
    background-color: @normal-background;
    text-color:       @normal-foreground;
}
element normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}
element normal.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}
element selected.normal {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
element selected.urgent {
    background-color: @selected-urgent-background;
    text-color:       @selected-urgent-foreground;
}
element selected.active {
    background-color: @selected-active-background;
    text-color:       @selected-active-foreground;
}
element alternate.normal {
    background-color: @alternate-normal-background;
    text-color:       @alternate-normal-foreground;
}
element alternate.urgent {
    background-color: @alternate-urgent-background;
    text-color:       @alternate-urgent-foreground;
}
element alternate.active {
    background-color: @alternate-active-background;
    text-color:       @alternate-active-foreground;
}
element-text {
    background-color: transparent;
    cursor:           inherit;
    highlight:        inherit;
    text-color:       inherit;
}
element-icon {
    background-color: transparent;
    size:             1.0000em ;
    cursor:           inherit;
    text-color:       inherit;
}
window {
    padding:          16px;
    background-color: #24273aae;
    border:           2px;
    border-radius:    12px;
}
mainbox {
    padding: 0;
    border:  0;
}
message {
    padding:      8px;
    border-color: @separatorcolor;
    border:       1px solid 0px 0px;
}
textbox {
    text-color: @foreground;
}
listview {
    padding:      8px 0px 0px;
    scrollbar:    true;
    border-color: @separatorcolor;
    spacing:      4px;
    fixed-height: 0;
    border:       1px solid 0px 0px;
}
scrollbar {
    width:         4px;
    padding:       0;
    handle-width:  8px;
    border:        0;
    handle-color:  @peach;
    border-radius: 4px;
}
sidebar {
    border-color: @separatorcolor;
    border:       1px solid 0px 0px;
}
button {
    cursor:     pointer;
    spacing:    0;
    text-color: @normal-foreground;
}
button selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
num-filtered-rows {
    expand:     false;
    text-color: Gray;
}
num-rows {
    expand:     false;
    text-color: Gray;
}
textbox-num-sep {
    expand:     false;
    str:        "/";
    text-color: Gray;
}
inputbar {
    padding:    10px 12px;
    spacing:    8px;
    text-color: @normal-foreground;
    children:   [ "prompt","textbox-prompt-colon","entry","num-filtered-rows","textbox-num-sep","num-rows","case-indicator" ];
}
case-indicator {
    spacing:    0;
    text-color: @normal-foreground;
}
entry {
    text-color:        @normal-foreground;
    cursor:            text;
    spacing:           0;
    placeholder-color: Gray;
    placeholder:       "Type to filter";
}
prompt {
    spacing:    0;
    text-color: @normal-foreground;
}
textbox-prompt-colon {
    margin:     0px 0.3000em 0.0000em 0.0000em ;
    expand:     false;
    str:        ":";
    text-color: inherit;
}
