---
- hosts: machine

  ## Incorrectly triggered during CI, log in using GUI instead
  # vars_prompt:
  #   - name: mas_email
  #     prompt: What is your Mac App Store username?
  #     private: no
  #     tags: ["never", "do_mas", "bootstrap"]

  #   - name: mas_password
  #     prompt: What is your Mac App Store password?
  #     tags: ["never", "do_mas", "bootstrap"]

  vars_files:
    - vars.yml

  roles:
    - role: eliasnorrby.dotfiles
      tags: ["dotfiles", "bootstrap"]
    - role: geerlingguy.homebrew
      tags: ["never", "setup_homebrew", "bootstrap"]
    - role: geerlingguy.mas
      tags: ["never", "do_mas", "bootstrap"]
    - role: kewlfft.aur
      tags: ["never", "do_pacman", "bootstrap"]

  tasks:
    - include_tasks: tasks/pacman.yml
      tags: ["never", "do_pacman", "bootstrap"]
    - include_tasks: tasks/homebrew.yml
      tags: ["never", "do_homebrew", "bootstrap"]
    - include_tasks: tasks/extra-packages.yml
      tags: ["never", "do_packages", "bootstrap"]
    - include_tasks: tasks/osx-defaults.yml
      tags: ["never", "do_defaults", "bootstrap"]
