# Logitech HD Webcam C270 - disable USB autosuspend to prevent
# stuttering when the camera is first accessed (e.g. video calls)
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="046d", ATTR{idProduct}=="0825", ATTR{power/control}="on"
