---
arch_config:
  path: base/arch
  links:
    - xinput.sh
    - src: Xresources
      dest: ~/.Xresources
    - src: focus_or_run.sh
      dest: "{{ xdg_bin_home }}/"
      rename: focus_or_run
    - src: spotifyctl.sh
      dest: "{{ xdg_bin_home }}/"
      rename: spotifyctl
    - src: power.sh
      dest: "{{ xdg_bin_home }}/"
      rename: power
    - src: gpg.conf
      dest: ~/.gnupg/
    - autostart.sh
  pacman_packages:
    - ranger
    - unzip
    - chromium
    - discord
    - xdotool
    - xorg-xinput
    - xorg-xev
    - xsel
    - ttf-font-awesome
    - ttf-roboto
    - gucharmap
    - base-devel
    - yay
    - lxappearance-gtk3
    - rofi
    - maim
    - udiskie
  aur_packages:
    - google-chrome
    - spotify
    - dropbox
    - 1password
    - 1password-cli
    - slack-desktop
    - nerd-fonts-fira-code
    - nerd-fonts-hack
    - nerd-fonts-iosevka
    - nerd-fonts-meslo
    - nerd-fonts-mononoki
    - nerd-fonts-source-code-pro

aur_builder_user_name: aur_builder
