name: package-check

on:
  push:
  schedule:
    - cron: '0 9 2 * *'
  workflow_dispatch:

jobs:
  packages:
    name: package-check
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup tests
        run: ./_tests/_setup_tests.sh

      - name: Check Homebrew cask & formula availability
        run: ./_tests/brew_test.sh

      - name: Check npm and pip package availability
        run: ./_tests/packages_test.sh
